$primarycolor: rgba(158, 130, 83, 0.5);
$secondarycolor: #fafafa;
$teritarycolor: #303030;
$textcolor: #575757;
$backgroundcolor: #eeeeee;
$secondbackgroundcolor: #e0e0e0;
$footercolor: #0d1931;
$bannercolor: rgba(0, 0, 0, 0.4);
