#section7 {
  background-color: $footercolor;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 128px;
  padding-right: 128px;
  .navbar-text {
    font-family: "Lora Reguler";
    font-size: 16px;
    color: $primarycolor;
  }
}
